<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Travel Guide App | Your Friendly Travel Companion</title>
        <meta name="Travel Guide App" content="An intelligent app which dynamically generate geographic and weather forecast information based on simple travel inputs." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="images/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>


        <!-- Header -->

        <header>

            <div class="logo">

                <img src="img/logo.png" alt="logo">

            </div>

        </header>


        <!-- Input Form -->

        <section class="form-input-outer-wrapper">

            <div class="form-input-inner-wrapper">


                <!-- Input Fields: Departure/Return Dates -->

                <div class="basic-flexbox">


                    <!-- Input Field: Departure Date -->

                    <input type="date" id="depart-date-input" name="depart-date-input" required>


                    <!-- Date Partition Icon -->

                    <div class="icon-wrapper">
                        <i class="material-icons">arrow_right_alt</i>
                    </div>


                    <!-- Input Field: Return Date -->

                    <input type="date" id="return-date-input" name="return-date-input" required>

                </div>


                <!-- Input Field: Destination -->

                <input type="text" name="destination-input" id="destination-input" placeholder="destination, eg shanghai" required>


                <!-- Input Field: User's Remarks -->

                <textarea name="remarks-input" id="remarks-input" rows="2" placeholder="remarks (optional)"></textarea>


                <!-- Generate Button -->

                <input type="submit" name="generate-travel-info" value="generate" class="generate-button" onclick="return Client.handleSubmit(event)">

                <div class="process-message"></div>

            </div>

        </section>


        <!-- Section: Form Output -->

        <section class="print-area">

            <div class="form-output-outer-wrapper">

                <div class="form-output-inner-wrapper">


                    <!-- Output Header -->

                    <div class="output-header">


                        <!-- Geographic Meta -->

                        <div class="destination-meta">


                            <!-- Destination and Country -->

                            <i class="material-icons">place</i>
                            <div id="destination-name"></div>
                            <div id="country-name"></div>


                            <!-- Country Code, Time Zone, Population and About -->

                            <div class="more-info">


                                <!-- Country Code -->

                                <div class="sub-item">
                                    <i class="material-icons">code</i>
                                    <div id="country-code"></div>
                                </div>


                                <!-- Time Zone -->

                                <div class="sub-item">
                                    <i class="material-icons">access_time</i>
                                    <div id="time-zone"></div>
                                </div>


                                <!-- Population -->

                                <div class="sub-item">
                                    <i class="material-icons">people_outline</i>
                                    <div id="population"></div>
                                </div>


                                <!-- About -->

                                <div class="sub-item">
                                    <i class="material-icons">my_location</i>
                                    <div id="destination-description"></div>
                                </div>

                            </div>

                        </div>

                    </div>


                    <!-- Dates -->

                    <div class="dates-wrapper">


                        <!-- Trip Days -->

                        <div class="trip-day"></div>

                        <div class="output-dates basic-flexbox">


                            <!-- Departure Date -->

                            <div class="date-wrapper depart-date">
                                <div class="heading">Departure</div>
                                <div id="depart-date" class="output-date"></div>
                            </div>


                            <!-- High/Low Temp Icon -->

                            <div class="icon-wrapper">
                                <i class="material-icons">arrow_right_alt</i>
                            </div>


                            <!-- Return Date -->

                            <div class="date-wrapper return-date">
                                <div class="heading">Return</div>
                                <div id="return-date" class="output-date"></div>
                            </div>

                        </div>

                    </div>


                    <!-- Weather Info -->

                    <div class="weather-wrapper"></div>


                    <!-- Remarks -->

                    <div class="remarks-wrapper">

                        <div class="remarks">
                            <i class="material-icons">edit</i>
                            <div id="remarks"></div>
                        </div>

                    </div>

                </div>

            </div>

        </section>


        <!-- Buttons -->

        <section class="buttons">


            <!-- Close Button -->

            <button class="close-button" name="close-button" onclick="return Client.closeButton()">
                <i class="material-icons">close</i>
            </button>


            <!-- Print Button -->

            <button class="print-button" name="print-button" onclick="return Client.printButton()">
                <i class="material-icons">print</i>
            </button>

        </section>


        <!-- Footer -->

        <footer>

            <div class="footer-wrapper">


                <!-- Copyright -->

                <div class="footer-copyright">

                    <p>Ⓒ 2020 
                        <a href="http://localhost:8081/">Travel Guide App</a>
                    <p>

                </div>


                <!-- API Credit -->

                <div class="footer-credit">

                    <p>API by
                        <a href="https://www.geonames.org/" rel="noopener" target="_blank">Geonames</a> • 
                        <a href="https://www.weatherbit.io/" rel="noopener" target="_blank">WeatherBit</a> • 
                        <a href="https://pixabay.com/" rel="noopener" target="_blank">Pixabay</a>
                    <p>

                </div>


                <!-- Developer Info -->

                <div class="developer-info">

                    <p>App Developed by <a href="https://www.susansiow.com" rel="noopener" target="_blank">Susan Siow</a></p>

                </div>

            </div>

        </footer>


        <!-- Script: Service Worker -->

        <script>

            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }

        </script>

    </body>

</html>